<div class="container">
  <img src="images/atomic-object.png" />
  <div class="form">
    <form action="/message" method="post" class="form">
        <div>
            <input type="text" id="message" name="message" placeholder="say something..."></input>
        </div>
    <input type="submit" value="Send"></input>
    </form>
  </div>
</div>
