<!DOCTYPE html>
<html>
  <head>
    <title>Stranger Objects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
